@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: vazir;
    src: url('../../public/merikhArz/src/fonts/Vazir.woff');
    src: url('../../public/merikhArz/src/fonts/Vazir.woff2');
}
*{
    font-family: 'vazir';
}
body{
    font-family: 'vazir';
    direction: rtl;
}
.animation{
    animation: animate 1.5s linear infinite;
    animation-delay: calc(.1s * var(--i));
}
@keyframes animate {
    0%{
        transform: translateY(0);
        margin-left: 0;

    }
    50%{
        transform: translateY(-10px);
        margin-left: 5px;
    }
    100%{
        transform: translateY(0);
        margin-left: 0;

    }
}





