@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: vazir;
    src: url('../../public/merikhArz/src/fonts/Vazir.woff');
    src: url('../../public/merikhArz/src/fonts/Vazir.woff2');
}
*{
    font-family: 'vazir';
}
body{
    font-family: 'vazir';
    direction: rtl;
}
.animation{
    animation: animate 1.5s linear infinite;
    animation-delay: calc(.1s * var(--i));
}
.loading{
    animation:1s loading 1s infinite  linear;
}
@keyframes loading {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes animate {
    0%{
        transform: translateY(0);
        margin-left: 0;

    }
    50%{
        transform: translateY(-10px);
        margin-left: 5px;
    }
    100%{
        transform: translateY(0);
        margin-left: 0;

    }
}
.file-demo{
    bottom:10%;
    left: 50%;
    transform: translateX(-50%) scale(0);
    transition: .5s;
}
.inFade{
    transition: .5s ;
    visibility: hidden;
    transform: scale(0);
    display: none;
}


.img-hover{
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

